<div class="dashboard-container">
  <header class="header">
    <button mat-icon-button (click)="toggleDrawer()" aria-label="Toggle Drawer" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/icon.png" alt="App Icon" class="app-icon" />
    <span class="app-name">FunDoNotes</span>
    <div class="search-container">
      <div class="search-wrapper">
        <input type="text" id="search" placeholder="Search notes..." class="search-box" (keyup)="search($event)" />
        <button mat-icon-button aria-label="Search" class="search-icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="header-icons">
      <button mat-icon-button aria-label="Refresh">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button aria-label="List View">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button aria-label="Settings">
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </header>

  <div class="main-content">
    <div class="side-drawer" [ngClass]="{ 'drawer-collapsed': !isDrawerOpen, 'drawer-expanded': isDrawerOpen }" (mouseover)="hoverDrawer(true)"  (mouseleave)="hoverDrawer(false)">
      <div class="drawer-item" (click)="navigateTo('notes')" [ngClass]="{ 'active': selectedItem === 'notes' }" role="button" aria-label="Notes">
        <mat-icon svgIcon="notes-icon"></mat-icon>
        <span class="drawer-label">Notes</span>
      </div>
      <div class="drawer-item"  role="button"  [ngClass]="{ 'active': selectedItem === 'remainder' }"  aria-label="Remainder">
        <mat-icon svgIcon="remainder-icon"></mat-icon>
        <span class="drawer-label">Remainder</span>
      </div>
      <div class="drawer-item" (click)="openEditLabelDialog()" role="button" aria-label="Notes">
        <mat-icon svgIcon="edit-icon"></mat-icon>
        <span class="drawer-label">EditLabel</span>
      </div>
      <div *ngFor="let label of labels" class="drawer-item" role="button">
        <mat-icon>label_outline</mat-icon>
        <span class="drawer-label">{{ label }}</span>
      </div>
      
      <div class="drawer-item" (click)="navigateTo('archive')"[ngClass]="{ 'active': selectedItem === 'archive' }" role="button" aria-label="Archive">
        <mat-icon svgIcon="archive-icon"></mat-icon>
        <span class="drawer-label">Archive</span>
      </div>
      <div class="drawer-item" (click)="navigateTo('trash')" [ngClass]="{ 'active': selectedItem === 'trash' }" role="button " aria-label="Trash">
        <mat-icon svgIcon="trash-icon"></mat-icon>
        <span class="drawer-label">Trash</span>
      </div>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
