* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100%;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(26, 22, 22);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu-button {
  color: black;
  margin-right: 15px;
}

.app-icon {
  height: 2.7em;
  width: 1.85em;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 20px;
}
.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.search-box {
  width: 100%;
  padding: 12px 12px 12px 50px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #afaaaa;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.search-box:focus {
  border-color: #898b89;
}

.search-icon,
.clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.search-icon {
  left: 10px;
  display: flex;
  align-items: center;
}

.clear-icon {
  right: 10px;
}

.search-icon mat-icon,
.clear-icon mat-icon {
  width: 20px;
  height: 20px;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.header-icons button {
  color: black;
  transition: color 0.3s;
}

.header-icons button:hover {
  color: #555;
}

.header-icons mat-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
::ng-deep .mat-mdc-menu-panel .mat-mdc-menu-content {
  padding: 0;
}

.main-content {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.side-drawer {
  width: 60px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.side-drawer.drawer-expanded {
  width: 250px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}
.side-drawer.drawer-collapsed {
  width: 60px;
}

.expanded-item,
.collapsed-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
  transition: background-color 0.3s, border-radius 0.3s;
  cursor: pointer;
}

.expanded-item {
  width: 250px;
  border-radius: 0 30px 30px 0;
  padding-left: 16px;
}
.collapsed-item {
  width: 50px;
    border-radius: 50%;
    margin-left: 6px;
    padding: 10px;
    padding-left: 12px;
}

.expanded-item:hover,
.collapsed-item:hover {
  background-color: #f5f5f5;
}
.expanded-item.active,
.collapsed-item.active {
  background-color: #fff8b8;
}

.drawer-label {
  font-size: 1rem;
  margin-left: 15px;
  padding-right: 103px;
  opacity: 0; /* Hide by default */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.side-drawer.drawer-expanded .drawer-label {
  opacity: 1;
  visibility: visible;
}

.content-container {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
}
