<div class="dashboard-container">
  <header>
    <button mat-icon-button (click)="toggleDrawer()" aria-label="Toggle Drawer" matTooltip="Toggle Menu" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-name">FunDoNotes</span>
    <div class="header">
      <input type="text" id="search" placeholder="Search notes..." class="search-box">
    </div>
  </header>

  <mat-drawer-container class="example-container">
    <mat-drawer 
      #mainDrawer 
      mode="side" 
      class="custom-drawer"
      [opened]="true"
      [ngClass]="{ 'drawer-expanded': isExpanded, 'drawer-partial': !isExpanded }"
      [opened]="isExpanded"></mat-drawer>
      
    <!-- Partial Drawer (always 60px, expands on hover) -->
     <mat-drawer 
      #partialDrawer 
      mode="side" 
      class="custom-drawer"
      [ngClass]="{ 'drawer-expanded': isExpanded, 'drawer-partial': !isExpanded }"
      [opened]="true">
      <span class="drawer-item" mat-icon-button (click)="navigateToNotes()" aria-label="Notes">
        <mat-icon svgIcon="notes-icon"></mat-icon>
        <span class="drawer-label">Notes</span>
      </span>

      <span class="drawer-item" mat-icon-button (click)="navigateToArchive()" aria-label="Archive">
        <mat-icon svgIcon="archive-icon"></mat-icon>
        <span class="drawer-label">Archive</span>
      </span>

      <span class="drawer-item" mat-icon-button (click)="navigateToTrash()" aria-label="Trash">
        <mat-icon svgIcon="trash-icon"></mat-icon>
        <span class="drawer-label">Trash</span>
      </span>
    

  </mat-drawer>

    <!-- Content Container -->
    <mat-drawer-content class="content-container" [ngClass]="{'content-expanded': isExpanded}">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
