
.note-card {
  width: 260px;
  margin: 16px auto;
  background-color: white; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  overflow: visible;
  height: auto;
}

.note-card:hover {
  background-color: #f3ebeb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.note-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-content {
  font-size: 18px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 12px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: none;
}

app-icon {
  opacity: 0; 
  display: flex;
  justify-content: flex-end; 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}


.note-card:hover app-icon {
  opacity: 1; 
}
