/* Buttons Container */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: nowrap; 
    gap: 16px;
    padding: 6px; 
    margin: 6px; 
    height: 30px; 
    width: 100%; 
    overflow: hidden; 
    box-sizing: border-box; 
    
  }
  
  .small-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px; 
    height: 45px; 
    padding: 0px; 
    border-radius: 50%; 
    gap: 4px;
    background-color: transparent; 
    cursor: pointer; 
    box-sizing: border-box;
    overflow: hidden; 
    transition: background-color 0.3s ease; 
    margin: 0; 
  }
  .small-icon-button mat-icon {
    font-size: 16px; 
    line-height: 2; 
    color: inherit; 
  }