<span class="note-card" (click)="openUpdateDialog(noteDetails)">
  <div class="note-card-header">
    <h3 class="note-title">{{noteDetails.title}}</h3>
  </div>
  <div class="note-card-body">
    <p class="note-content">{{noteDetails.description}}</p>

  </div>
  <div class="buttons">
   <span> <button 
      mat-icon-button 
      aria-label="reminder button" 
      matTooltip="Reminder" 
      (click)="$event.stopPropagation()">
    <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
  </button></span>
  <span>  <button 
      mat-icon-button 
      aria-label="collaborator button" 
      matTooltip="Collaborator" 
      (click)="$event.stopPropagation()">
      <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collaborator icon"></mat-icon>
  </button></span>
  <span> <button 
      mat-icon-button 
      aria-label="color button" 
      matTooltip="Background Color Options" 
      (click)="$event.stopPropagation()">
    <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
  </button></span> 
   <span> <button 
      mat-icon-button 
      aria-label="img button" 
      matTooltip="Add Image" 
      (click)="$event.stopPropagation()">
    <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="add image icon"></mat-icon>
  </button></span>
   <span><button 
      mat-icon-button 
      aria-label="archive" 
      matTooltip="Archive" 
      (click)="handleNoteIconsClick('archive', $event); $event.stopPropagation()">
    <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon>
  </button></span> 
  <span> <button 
      mat-icon-button 
      aria-label="trash" 
      matTooltip="Trash" 
      (click)="$event.stopPropagation()">
    <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
  </button></span> 

    <!-- More Icon and Menu -->
  <span> <button 
      mat-icon-button 
      [matMenuTriggerFor]="menu" 
      aria-label="more options" 
      (click)="$event.stopPropagation()">
      <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more icon"></mat-icon>
   

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu> </button></span>
  </div>
</span>
