
<div class="note-card">
    <div class="note-card-header">
      <h3 class="note-title">Note Title</h3>
    </div>
    <div class="note-card-body">
        <p class="note-content">This is the content of the note. It can be multi-line and have detailed information here.</p>
        <div class="buttons">   
            <button mat-icon-button aria-label="reminder button" matTooltip="Reminder">
                <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator">
                <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="color button" matTooltip="Background Color Options">
                <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
            </button>
    </div>
  </div>
  