.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 10px;
  position: relative;  

}
.hidden {
  visibility: hidden;   
}


.menu-button {
  position: absolute;  
  top: 20px;            
  left: 20px;           
  z-index: 1000;        
}

.example-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 50px); /* Full viewport height minus top padding */
  box-sizing: border-box;
}

.full-height-drawer {
  height: 100%;
  width: 250px;          /* Fixed width for the drawer */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.content-container {
  flex: 1;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
