<div class="dashboard-container">
    <!-- Button to toggle the side drawer -->
    <button mat-button (click)="handleDrawerClick()">Toggle Menu</button>
  
    <!-- Side Navigation Drawer -->
    <mat-drawer-container class="example-container" [hasBackdrop]="false">
      <mat-drawer #drawer mode="over" [opened]="drawerState">
        <h2>I'm a Drawer</h2>
        <p>Drawer content goes here.</p>
      </mat-drawer>
  
      <!-- Main Content Area -->
      <mat-drawer-content>
          <router-outlet></router-outlet>
     
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  