.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // align-items: center;
  // padding-top: 10px;
  position: relative;  

}
.hidden {
  visibility: hidden;   
}


.menu-button {
  position: relative;          
  z-index: 1000;        
}

.example-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 50px); 
  box-sizing: border-box;
}

.full-height-drawer {
  height: 100%;
  width: 250px;         
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.content-container {
  flex: 1;
  padding: 1%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
