<div class="note-dialog" [ngStyle]="{'background-color':noteDetails.color|| '#ffffff'}">
    <div class="note-title">
      <input type="text" placeholder="Title" [(ngModel)]="noteDetails.title"class="title-input">
    </div>
    <div class="note-content">
      <textarea placeholder="Take a note..." [(ngModel)]="noteDetails.description" class="description-input"></textarea>
    </div>
    <div class="note-actions">
      <div class="left-actions">
        <app-icon [noteDetails]="noteDetails" (iconOperation)="handleIconOperation($event)"></app-icon>
        <button class="small-icon-button " mat-icon-button  aria-label="undo"  matTooltip="undo" (click)="$event.stopPropagation()">
      <mat-icon svgIcon="undo-icon" aria-hidden="false" aria-label="undo icon"></mat-icon>
     </button>
    <button class="small-icon-button " mat-icon-button aria-label="redo"  matTooltip="redo" (click)="$event.stopPropagation()">  
      <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="redo icon"></mat-icon>
    </button>
      </div>
      <div class="right-actions">
        <button mat-button (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
  