.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loading-spinner {
  margin-right: 20px;
}

.trash-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 2%; 
  }
  